<div class="content">
    <div class="contact-profile">
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQE3g9gHNfxGrQ/profile-displayphoto-shrink_200_200/0/1645507738281?e=1659571200&v=beta&t=wtwELdT1gp6ICp3UigC2EgutGAQgDP2sZKUx0mjCTwI"
            alt="" />
        <p>Erfan Yousefi</p>
        <div class="social-media">
            <span id="onlinesCount"><strong>افراد آنلاین : </strong><span id="count">10</span></span>
        </div>
    </div>
    <div id="roomName">
        <h3>گروه پشتیبانی بوتواستارت </h3>
    </div>
    <div class="messages">
        <ul>
            <li class="sent">
                <img src="https://media-exp1.licdn.com/dms/image/C5603AQE3g9gHNfxGrQ/profile-displayphoto-shrink_200_200/0/1645507738281?e=1659571200&v=beta&t=wtwELdT1gp6ICp3UigC2EgutGAQgDP2sZKUx0mjCTwI"
                    alt="" />
                <p>salam dostan haleton chetore ? az course nodejs razi hastin?</p>
            </li>
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                <p>salam are babab khialet rahat</p>
            </li>
        </ul>
    </div>
    <div class="message-input">
        <div class="wrap">
            <input type="text" id="messageInput" placeholder="Write your message..." />
            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <button class="submit">send</i></button>
        </div>
    </div>
</div>